venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

data/
*.db
*.sqlite3

# Secret keys - KHÔNG PUSH LÊN GITHUB
service_account.json
service_account.json.json
private-key.json
private-key.json.json
*.json.json

.vscode/
.DS_Store
Thumbs.db
